/* Customer Styles */

.form-customer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
}

.title-register-customer {
    text-align: center;
    margin-bottom: 24px;
}

.register-content-customer,
.register-cancel-customer {
    width: 30vh;
}

/* Supplier Styles */

.form-supplier-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
}

.title-register-supplier {
    text-align: center;
    margin-bottom: 24px;
}

.register-content-supplier,
.register-cancel-supplier {
    width: 30vh;
}

.dagger-container {
    margin-bottom: 30px;
}